<c-card class="mb-4">
  <c-card-header ngPreserveWhitespaces>
    <strong> {{ (id != null) ? 'Edit' : 'Create' }} Role </strong>
  </c-card-header>
  
  <c-card-body>
    <form
      class="row g-3 validate-when-touched show-only-errors"
      novalidate
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
    >

    <c-nav variant="tabs">
      <c-nav-item>
        <a [active]="true" [cTabContent]="roles_tab" routerLink="./" [tabPaneIdx]="0" cNavLink>
          Role
        </a>
      </c-nav-item>
      <c-nav-item>
        <a [cTabContent]="roles_tab" routerLink="./" [tabPaneIdx]="1" cNavLink>
          Permissions
        </a>
      </c-nav-item>
    </c-nav>

    <c-tab-content #roles_tab="cTabContent" [activeTabPaneIdx]="1" cRounded="bottom">
      <c-tab-pane class="p-3 preview" role="tabpanel">
        <c-row class="g-3">

          <c-col [xs]="6">
            <label cLabel >Name</label>

            <input aria-label=" name"
                   cFormControl
                   placeholder=" name"
                   type="text"
                   formControlName="name"
            />
          </c-col>

          <c-col [xs]="6">
            <label cLabel >Slug</label>

            <input aria-label="Slug"
                   cFormControl
                   placeholder="Slug"
                   formControlName="slug"
            />
          </c-col>


          <c-col [xs]="12" class="d-flex justify-content-end">
            <button cButton type="submit" [disabled]="!form.valid">Submit</button>
          </c-col>
        </c-row>
      </c-tab-pane>

      <c-tab-pane class="p-3 preview" role="tabpanel">
        <c-row class="g-3">
          <c-col>
            <button class="m-1" (click)="onSelectAll()" cButton color="primary">Select All</button>
            <button cButton  (click)="onClearAll()"  color="secondary">Clear All</button>

          </c-col>
        </c-row>

        <c-row class="g-3"  >
          <ng-container formArrayName="permissions" *ngFor="let module of permissionsArray; let i = index">
              <ng-container [formGroupName]="i">
                <c-col [xs]="6">
                  <label cLabel > {{ permissions[i]?.module}}</label>

                  <ng-select
                    [items]="permissions[i].permissions"
                    [multiple]="true"
                    formControlName="permissions"
                  >
                  </ng-select>
                </c-col>
              </ng-container>

          </ng-container >



          <c-col [xs]="12" class="d-flex justify-content-end">
            <button cButton type="submit" [disabled]="!form.valid">Submit</button>
          </c-col>
        </c-row>
      </c-tab-pane>
    </c-tab-content>





    </form>
  </c-card-body>
</c-card>
