<div class="fade-in">
  <c-row ngPreserveWhitespace [gutter]="{gy: 2}">
    <c-col class="d-flex justify-content-end" xs="12">

      <a cButton class="me-1" color="primary" variant="outline" routerLink="/users/create">
        Create User
      </a>

    </c-col>

    <c-col xs="12">
      <ag-grid-angular
        style="width: 100%; height: 70vh;"
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowModelType]="rowModelType"
        [serverSideStoreType]="serverSideStoreType"
        [pagination]="true"
        [paginationPageSize]="paginationPageSize"
        [cacheBlockSize]="cacheBlockSize"
        [animateRows]="true"
        [rowData]="rowData"
        (gridReady)="onGridReady($event)"
      ></ag-grid-angular>
    </c-col>

  </c-row>
</div>
